<form name="editForm" role="form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            data-ng-click="clear()">&times;</button>
    <h2 class="modal-title" id="myRecipeLabel">Create a new Recipe</h2>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6" data-ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
          <div class="well well-sm">
            <div class="form-group">
              <label class="control-label" for="field_name">Name<i style="color: red">*</i></label>
              <input type="text" class="form-control" name="name" id="field_name"
                     data-ng-model="recipe.name"
                     placeholder="ex. Chocolate cake"
                     required/>
              <p data-ng-show="editForm.name.$invalid && !editForm.name.$pristine" class="help-block">A name is
                needed.</p>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div data-flow-init data-flow-files-submitted="$flow.upload()"
               data-flow-file-added="$flow.files.length < 1 && !!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
               data-flow-files-added="limitFiles($files, 1)"
               data-flow-name="flow.content"
               class="ng-scope">
            <div class="drop" data-flow-drop="" data-ng-class="dropClass">
          <span class="btn btn-default" data-flow-btn="">Upload Image<input
            style="visibility: hidden; position: absolute;"
            multiple="multiple" type="file"></span>
              <span class="btn btn-default ng-hide" data-flow-btn="" data-flow-directory=""
                    data-ng-show="$flow.supportDirectory">Upload Folder of Images<input
                style="visibility: hidden; position: absolute;" multiple="multiple"
                data-webkitdirectory="webkitdirectory"
                type="file"></span>
              <b>OR</b>
              Drag And Drop your image here
            </div>
            <br>
            <div>
              <div data-ng-repeat="file in $flow.files" class="gallery-box ng-scope">
                <span class="title ng-binding">{{file.name}}</span>
                <div class="thumbnail" data-ng-show="$flow.files.length">
                  <img data-flow-img="file" src="" style="max-height: 115px">
                </div>
                <div class="progress progress-striped" data-ng-class="{active: file.isUploading()}"
                     data-ng-if="file.isUploading()">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                       aria-valuemax="100"
                       data-ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                    <span class="sr-only ng-binding">1% Complete</span>
                  </div>
                </div>
                <div class="btn-group">
                  <a class="btn btn-xs btn-danger" data-ng-click="file.cancel()">
                    Remove
                  </a>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h2>Ingredients</h2>
          <div class="noArrow" style="display: flex">
            <label class="control-label" for="field_quantity"></label>
            <input class="form-control" name="quantity" data-ng-model="quantity"
                   type="number"
                   data-ng-min="0"
                   id="field_quantity" placeholder="quantity"
                   style="width: 20%; margin-top: 3px">
            <label class="control-label" for="field_unit"></label>
            <input class="form-control" name="unit" data-ng-model="unit" type="text"
                   id="field_unit" placeholder="(u)"
                   style="width: 15%; margin-left: 2px; margin-top:3px">
            <label class="control-label" for="field_ingredient"></label>
            <select selector class="selector-custom"
                    model="myIngredient"
                    options="ingredientsStock"
                    value-attr="value"
                    id="field_ingredient"
                    placeholder="ingredient"
                    style="width: 60%; margin-left: 6px"></select>
            <button class="btn btn-secondary pull-right" data-ng-click="addIngredient()"
                    style="margin-left: 2px">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
          <div style="margin-top: 10px">
            <div data-ng-class="{'overList': myIngredients.length != 0}">
              <table class="table table-striped customTab">
                <tbody style="max-height: 160px;">
                <tr data-ng-repeat="item in myIngredients track by $index">
                  <td>{{item.quantity}} {{item.unit}}</td>
                  <td>{{item.value.name}}</td>
                  <td class="text-center">
                    <div class="col-md-9" style="padding-right: 0">
                      <button class="btn btn-danger btn-xs pull-right" data-ng-click="removeIngredient($index)"><span
                        class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="col-md-2" style="padding-right: 0">
                      <div class="row">
                        <span class="glyphicon glyphicon-chevron-up pull-right buttonLike" style="font-size: 80%"
                              data-ng-click="moveIngredient($index, 'up')"></span>
                      </div>
                      <div class="row">
                        <span class="glyphicon glyphicon-chevron-down pull-right buttonLike" style="font-size: 80%"
                              data-ng-click="moveIngredient($index, 'down')"></span>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h2>Preparation</h2>
          <form class="form-horizontal" role="form">
            <div class="row form-group">
              <label class="col-md-5 control-label icon_level" for="field_difficulty">Difficulty<i
                style="color: red">*</i></label>
              <div class="col-md-5">
                <select class="form-control" data-ng-model="recipe.description.difficulty"
                        name="difficulty"
                        id="field_difficulty"
                        style="background: transparent" required>
                  <option value="Easy">Easy</option>
                  <option value="Medium">Medium</option>
                  <option value="Hard">Hard</option>
                </select>
              </div>
            </div>
            <div class="row form-group"
                 data-ng-class="{ 'has-error' : editForm.preparation.$invalid && !editForm.preparation.$pristine }">
              <label class="col-md-5 control-label icon_preparation" for="field_preparation">Preparation<i
                style="color: red">*</i></label>
              <div class="col-md-5">
                <input class="form-control" name="preparation" data-ng-model="recipe.description.preparation"
                       type="number"
                       data-ng-min="0"
                       id="field_preparation" required>
              </div>
            </div>
            <div class="row form-group"
                 data-ng-class="{ 'has-error' : editForm.cooking.$invalid && !editForm.cooking.$pristine }">
              <label class="col-md-5 control-label icon_cooking" for="field_cooking">Cooking<i
                style="color: red">*</i></label>
              <div class="col-md-5">
                <input class="form-control" name="cooking" data-ng-model="recipe.description.cooking" type="number"
                       data-ng-min="0"
                       id="field_cooking" required>
              </div>
            </div>
            <div class="row form-group"
                 data-ng-class="{ 'has-error' : editForm.people.$invalid && !editForm.people.$pristine }">
              <label class="col-md-5 control-label icon_people" for="field_people">People<i
                style="color: red">*</i></label>
              <div class="col-md-5">
                <input class="form-control" name="people" data-ng-model="recipe.description.people" type="number"
                       data-ng-min="0"
                       id="field_people" required>
              </div>
            </div>
          </form>
        </div>
      </div>

      <h2 style="padding-top: 20px">Description<i style="color: red">*</i></h2>
      <div data-ng-repeat="item in recipe.tags track by $index" style="display: inline">
        <span class="label label-info">{{item}}</span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-space"
               data-ng-class="{ 'has-error' : editForm.description.$invalid && !editForm.description.$pristine }">
            <label class="control-label" for="field_description"></label>
            <textarea class="form-control" name="description" id="field_description"
                      style="height: 80px; resize: vertical"
                      data-ng-model="recipe.description.description"
                      placeholder="description.."
                      required
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="display: flex">
          <label class="control-label" for="field_tag" style="padding-top: 5px">Add tag:</label>
          <input class="form-control" name="tag" data-ng-model="tag" type="text"
                 id="field_tag" placeholder="name.."
                 style="width: 20%; margin-left: 10px">
          <button class="btn btn-secondary pull-right" data-ng-click="addTag()"
                  style="margin-left: 1px">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <h2 style="padding-top: 20px">Steps<i style="color: red">*</i></h2>
      <div class="row">
        <div class="col-md-12">
          <div data-ng-repeat="item in recipe.description.steps track by item.index">
            <label class="control-label" for="field_description">Step {{item.index}}
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                      data-ng-show="item.index != 1"
                      data-ng-click="removeStep($index)" style="margin-left: 10px">×
              </button>
            </label>
            <textarea class="form-control" name="description" id="field_step"
                      style="height: 80px; resize: vertical"
                      data-ng-model="item.value"
                      placeholder="description.."
                      required
            >
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top: 10px">
          <button class="btn btn-info pull-right" data-ng-click="addStep()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-disabled="isBusy"
            data-ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
    </button>
    <button data-ng-click="save()" data-ng-disabled="editForm.$invalid || isBusy" class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Create</span>
    </button>
  </div>
</form>
