<form name="editForm" role="form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            data-ng-click="clear()">&times;</button>
    <h2 class="modal-title" id="myMomentLabel">Create a new Moment</h2>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-5" data-ng-class="{ 'has-error' : editForm.title.$invalid && !editForm.title.$pristine }">
            <div class="form-group">
              <label class="control-label" for="field_title">Title</label><i style="color: red">*</i>
              <input type="text" class="form-control" name="title" id="field_title"
                     data-ng-model="moment.title"
                     placeholder="ex. Summer party"
                     required/>
              <p data-ng-show="editForm.title.$invalid && !editForm.title.$pristine" class="help-block">A title is
                needed.</p>
            </div>
          </div>
        </div>
      </div>

      <h2 style="padding-top:2%">Content<i style="color: red">*</i></h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               data-ng-class="{ 'has-error' : editForm.content.$invalid && !editForm.content.$pristine }">
            <label class="control-label" for="field_content"></label>
            <textarea class="form-control" name="content" id="field_content" style="height: 150px; resize: vertical"
                      data-ng-model="moment.content"
                      placeholder="content.."
                      required
            ></textarea>
          </div>
        </div>
      </div>

      <h2 style="padding-top:2%">Images</h2>
      <div class="row col-md-12" style="padding-right: 0">
        <div class="border-crossed col-md-12" style="padding-right: 0">
          <div class="row col-md-12">
            <div class="form-inline" style="padding-left: 5px; margin-bottom: 10px">
              <label class="control-label" for="field_url">Url:</label>
              <input type="text" class="form-control" name="url" id="field_url"
                     data-ng-model="currentImage"
                     placeholder="enter url image"/>
              <button class="btn btn-secondary" data-ng-click="addImage()"
                      style="margin-left: 1px">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="row col-md-12" style="margin-top: 10px; padding-right: 0; display:flex">
            <div class="col-md-3" style="padding-left: 0;display: flex"
                 data-ng-repeat="image in images track by $index">
              <div class="center">
                <img class="img-responsive" src="{{image}}" style="max-height:120px; max-width:120px;"/>
                <button class="btn btn-xs btn-danger" style="max-width: 25px; max-height:25px"
                        data-ng-click="removeImage(image);">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-disabled="isBusy"
            data-ng-click="clear()">
      <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="button" formnovalidate data-ng-click="save()" data-ng-disabled="editForm.$invalid || isBusy"
            class="btn btn-primary">
      <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Create</span>
    </button>
  </div>
</form>
